body{
    background:#f4f4f4;
    font-family:Arial;
}

.container{
    width:400px;
    margin:100px auto;
    background:white;
    padding:30px;
    border-radius:10px;
    text-align:center;
}

input{
    width:90%;
    padding:10px;
    margin:10px;
}

button{
    padding:10px 20px;
    background:blue;
    color:white;
    border:none;
    cursor:pointer;
}

h2{
    color:green;
}